<div class="footer">
  <div class="footer-container">
    <div class="footer-section">
      <h2 class="footer-title">QUICK BITE</h2>
    </div>
    <div class="footer-section">
      <ul>
        <li><h6 class="footer-subtitle">Social</h6></li>
        <li><a href="#">Facebook</a></li>
        <li><a href="#">Instagram</a></li>
        <li><a href="#">LinkedIn</a></li>
      </ul>
    </div>
    <div class="footer-section">
      <ul>
        <li><a href="#">Get help</a></li>
        <li><a href="#">Partner with us</a></li>
        <li><a href="#">Add your restaurant</a></li>
        <li><a href="#">Sign up to deliver</a></li>
      </ul>
    </div>
    <div class="footer-section">
      <ul>
        <li><a href="#">Read our blog</a></li>
        <li><a href="#">Buy gift card</a></li>
        <li><a href="#">Restaurants nearby</a></li>
        <li><a href="#">Save on first order</a></li>
      </ul>
    </div>
  </div>
</div>
