<div class="main-container">
<div class="container">
  <div class="header">
    <div class="logo">QUICK BITE</div>
    <div class="buttons">
      <button class="signButtonLight">Sign in</button>
      <button class="signButton">Sign up</button>
    </div>
  </div>
  <div class="main-container">
    <div class="main">
      <div class="left-image">
        <img id="leftImageStyle"
          src="https://assets.api.uizard.io/api/cdn/stream/43843a43-2241-4e3c-a2a3-f442cae1f678.png" alt="Lemon">
      </div>
      <div class="text">
        <h1>The quickest way to find the perfect bite</h1>
      </div>
      <div class="right-image">
        <img id="rightImageStyle"
          src="https://assets.api.uizard.io/api/cdn/stream/1ae2327d-3a3d-4241-93b4-cbcd3440e737.png" alt="Pizza">
      </div>
      <div class="search-container">
        <div class="input-group-append">
          <div class="icon-input">
            <input class="icon-input__text-field" type="text" placeholder="Delivery address">
            <i class="icon-input__icon material-icons">search</i>
            <button id="searchBtn" class="btn btn-primary" type="button">Search</button>
          </div>
        </div>
      </div>

    </div>
  </div>
  <!-- <div class="sectionBreak"></div> -->

  <app-how-it-works></app-how-it-works>

  <app-work-with-qb></app-work-with-qb>
  <app-download-app></app-download-app>
</div>
</div>
