.container {

  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: #f8f8f4;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  text-align: center;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 100px 150px 150px 150px;
  box-sizing: border-box;
}

.header .logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: #00103D;
}

.header .buttons {
  display: flex;
  gap: 10px;
}



.signButton {
  border-radius: 10px;
  background-color: black;
  color: white;
  height: 38px;
  width: 100px;
}

.signButtonLight {
  border-radius: 10px;
  background-color: white;
  color: black;
  height: 38px;
  width: 100px;
}

.header button.signup {
  background-color: #00103D;
  color: white;
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  /* Increase gap between elements */
  position: relative;
}

.left-image {
  position: absolute;
  left: -180px;
  /* Adjust this value as needed */
  top: 20%;
  /* Center vertically */
  transform: translateY(-50%);
  /* Center vertically */
}

#leftImageStyle {
  width: 150px;
  height: auto;
  /* Maintain aspect ratio */
}

.right-image {
  position: absolute;
  right: -200px;
  /* Adjust this value as needed */
  top: 70px;
  /* Adjust this value as needed */
}

#rightImageStyle {
  width: 150px;
  height: auto;
  /* Maintain aspect ratio */
}

.text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.text h1 {
  font-size: 2.5rem;
  color: #00103D;
  margin: 0;
  text-align: center;
  line-height: 1.2;
  width: 400px;
}

.search-container {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
  position: relative;
}

.search-container input {
  padding: 10px 40px 10px 15px;
  font-size: 1rem;
  border-radius: 10px;
  border: none;
  width: 200px;
  position: relative;
  box-shadow: none;
  /* Ensure no box-shadow */
  outline: none;
  /* Remove default outline on focus */
}

.search-container #searchBtn {
  border-radius: 10px;
  background-color: black;
  color: white;
  height: 38px;
  width: 100px;
}

.search-container .icon-input__icon {
  right: 120px;
  position: absolute;
  color: #00103D;
  top: 20%;
}

.search-container .search-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1rem;
}

.search-container button {
  border: none;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 30px;
}

/* Existing CSS... */


.work-with-quickbite,
.download-app {
  background-color: #f8f8f4;
  width: 100%;
  padding: 0 50px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* without this the padding will make the width 100% + 100px */
  box-sizing: border-box;
}

.how-it-works {
  margin-top: 50px;
  background-color: #f8f8f4;
  width: 100%;
  padding: 10px 150px;
  box-sizing: border-box;
  border-bottom: 1px solid black;
}

.how-it-works .how-header {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
}

.how-it-works .how-header h2 {
  margin: 0;
}

.how-it-works .how-header #headingIcon {
  cursor: pointer;
}

.how-it-works .body {
  /* padding: 20px 0; */
}

.how-it-works .steps {
  display: flex;
  justify-content: space-between;
}

.how-it-works .step {
  flex: 1;
  padding: 0 20px;
  border-right: 1px solid black;
}

.how-it-works .step:last-child {
  border-right: none;
}

.how-it-works .step img {
  max-width: 50%;
  height: auto;
  display: block;
  margin: 0 auto 20px;
}

.how-it-works .step h3 {
  margin: 10px 0 5px;
  text-align: left;
}

.how-it-works .step p {
  margin: 0;
  text-align: justify;
}

.sectionBreak {
  border-top: 1px solid black;
  margin: 0 0 20px 0;
}

@media (max-width: 767px) {
  .how-it-works .steps {
    flex-direction: column;
    align-items: center;
  }

  .how-it-works .step {
    border-right: none;
    border-bottom: 1px solid black;
    margin-bottom: 20px;
    padding: 0;
  }

  .how-it-works .step:last-child {
    border-bottom: none;
  }
}
