<div class="container">
  <div class="header">
      <div class="logo">QUICK BITE</div>
      <div class="buttons">
          <button class="btn btn-primary">Sign in</button>
          <button class="btn btn-success">Sign up</button>
      </div>
  </div>
  <div class="main-container">
      <div class="main">
          <div class="left-image">
              <img id="leftImageStyle" src="https://assets.api.uizard.io/api/cdn/stream/43843a43-2241-4e3c-a2a3-f442cae1f678.png" alt="Lemon">
          </div>
          <div class="text">
              <h1>The quickest way to find the perfect bite</h1>
          </div>
          <div class="right-image">
              <img id="rightImageStyle" src="https://assets.api.uizard.io/api/cdn/stream/1ae2327d-3a3d-4241-93b4-cbcd3440e737.png" alt="Pizza">
          </div>
          <div class="search-container">
            <div class="input-group-append">
                <button class="btn btn-primary" type="button">
                    <div class="icon-input">
                        <input class="icon-input__text-field" type="text">
                        <i class="icon-input__icon material-icons">search</i>
                    </div>
                </button>
            </div>
        </div>
      </div>
  </div>
</div>
