.work-with-quickbite,
.download-app {
  background-color: #edf0eb;
  width: 100%;
  padding: 0 50px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* without this the padding will make the width 100% + 100px */
  box-sizing: border-box;
}


.work-with-quickBite {
  background-color: #edf0eb;
  width: 100%;
  margin: 0px 150px 0 0px;
  box-sizing: border-box;
}


.work-with-quickBite .work-header {
  /* border-top: 1px solid black; */
  border-bottom: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
}

.work-with-quickBite .work-header h2 {
  margin: 0;
}

.work-with-quickBite .work-header #headingIcon {
  cursor: pointer;
}


.work-with-quickBite .steps {
  /* display: flex; */
  justify-content: space-between;
}

.work-with-quickBite .step {
  flex: 1;
  padding: 15px 0px;
  border-bottom: 2px solid black;
  display: flex;
}

.work-with-quickBite .step:last-child {
  border-bottom: none;
}

.step .step-image img {
  max-width: 65% !important;
  align-items: start;
  display: flex !important;
  margin: 0 !important;
}

.step .step-content {
  margin-left: 20px;
  /* margin-right: 20px; */
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.step-content .title {
  padding-bottom: 1rem;
}

.step-content .description {
  padding-bottom: 1rem;
}

.step-content .btn {
  border-radius: 10px;
  border: 1px solid black;
  color: black;
  padding: 10px;
  width: 110px;
}

.work-with-quickBite .step:last-child {
  border-right: none;
}

.work-with-quickBite .step img {
  max-width: 50%;
  height: auto;
  display: block;
  margin: 0 auto 20px;
}

.work-with-quickBite .step h3 {
  margin: 10px 0 5px;
  text-align: left;
}

.work-with-quickBite .step p {
  margin: 0;
  text-align: justify;
}

.sectionBreak {
  border-top: 1px solid black;
  margin: 0 0 20px 0;
}

@media (max-width: 767px) {
  .work-with-quickBite .steps {
    flex-direction: column;
    align-items: center;
  }

  .work-with-quickBite .step {
    border-right: none;
    border-bottom: 1px solid black;
    margin-bottom: 20px;
    padding: 0;
  }

  .work-with-quickBite .step:last-child {
    border-bottom: none;
  }
}
